h1, h2, h3, h4, h5, h6, p, div, li, span {
    font-family: helvetica;
    text-decoration:none;
}

.barraNegra {
    display: flex;
    height: 20px;
    background-color: black;
    padding: 7px;  
    margin-top: 0px;
    
}

.textoSobreBarrasizq {
color: aliceblue;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;

width: 300px;
height: 12px;
left: 90px;
top: 4px;
position: absolute;
}

.textoSobreBarrasDer {
    color: aliceblue;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    width: 50px;
    height: 12px;
    right: 10px;
    top: 4px;
    position: absolute;
    
    } 

   #selectorDeIdiomas {
    color: aliceblue;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    width: 50px;
    height: 12px;
    right: 100px;
    top: 4px;
    position: absolute;
   }

   .barraNaranja {
    display: flex;
    height: 64px;
    background-color: #F0A83E;
    padding: 0px;  
    top: 20px;

   }

   .logo {
    top: 60px;
    left: 60px;
    width: 400px;
    position: absolute;
    color: rgb(0, 0, 0);
    display: inline-flex;
    float: initial;
    font-style: normal;
    font-weight:bolder;
    font-size: 20px;     
   }

   .logoCat {
    top: 60px;
    left: 111px;
    width: 400px;
    position: absolute;
    color: aliceblue;
    display: inline-flex;
    float: initial;
    color: aliceblue;
    font-style: normal;
    font-weight:bolder;
    font-size: 20px;     
   }

   .imagenLogogato {
    top: 63px;
    left: 35px;
    box-sizing: content-box;
    width: 22px;
    height: 21px;
    object-fit:cover; /* object-fit:cover;  resize la imagen hasta que la proporcion se rompa, ahi se recorta*/
    padding: 0px;
    margin: 0%;
    z-index: 9999;
    position: absolute;
   }

   .imagenLogo {
    top: 63px;
    left: 200px;
    box-sizing: content-box;
    width: 22px;
    height: 21px;
    object-fit:cover; /* object-fit:cover;  resize la imagen hasta que la proporcion se rompa, ahi se recorta*/
    padding: 0px;
    margin: 0%;
    z-index: 9999;
    position: absolute;
   }



   .listaHorizontal {
  
    right: 30px;
    width: 400px;
    position: absolute;
    color: aliceblue;
    display: inline-flex;
    justify-content: space-between;
    float: initial;      
   }

.bannerPrincipal {
    top: 84px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit:cover; /* object-fit:cover;  resize la imagen hasta que la proporcion se rompa, ahi se recorta*/
    padding: 0px;
    margin: 0%;
    z-index: 9999;
    width:none;
   
    
}



.tituloBanner {
    background-color: #Ffffff;
    border-radius: 5px;
    position: absolute;
    width: 365px;
    height: 54px;
    right: 30px;
    top: 237px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #3C2313;
    padding: 13px 10px 0px 10px; 

}

.comentarioBanner {
text-decoration-line:blink;
box-sizing: border-box;
color: #3C2313;

font-size: 16px;
line-height: 14px;

position: absolute;
width: 220px;
height: 50px;
right: 108px;
top: 335px;
}

.botonBanner {
    background-color: #F0A83E;
    border-radius: 5px;
    position: absolute;
    width: 365px;
    height: 54px;
    right: 140px;
    top: 390px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #3C2313;
    padding: 20px 10px 0px 10px; 


text-decoration-line:blink;
box-sizing: border-box;
color: aliceblue;

font-size: 16px;
line-height: 14px;
position: absolute;
width: 150px;
height: 54px;

}

.imagenPawPrintGrande {
    /*object-fit:none; /* object-fit:cover;  resize la imagen hasta que la proporcion se rompa, ahi se recorta*/
    padding: 0px;
    /*margin-inline: 50%;
    box-sizing: content-box;*/
    
    position: absolute;
    width: 67px;
    height: 71px;
    left: calc(50% - 67px/2 + 0.5px);
    margin: 10px;
}

.sectionUb {
top: 1100px;
position: absolute;
text-align: center;
}

.vitrinaproductos {
    top: 1300px;
    margin-left: 95px;
    margin-right: 95px;
    width: 1024px;
    position: absolute;
    color: aliceblue;
    display: inline-flex;
    justify-content: space-between;
    float: initial;      

}